body{
    padding: 2em;
    background-color: rgb(223, 233, 235);
}

#contenedor{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2em;
}

input{
    margin-top: 2em;
    margin-right: 1em;
}

#result{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2em;
}